*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	margin:0;
	padding: 0;
}
.wrap{
	margin: 30px 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















